<div id="login">
  <h2>Sign in</h2>
  
  <% form_for :session, :url => session_path do |form| %>
    <ul>
      <li>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </li>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %> 
        <%= link_to "Forgot password?", new_password_path %>
      </li>
      <li class="checkbox">
        <%= form.check_box :remember_me %>
        <%= form.label :remember_me %>
      </li>
      <li class="submit">
        <%= form.submit "Sign in", :disable_with => "Please wait..." %> or
        <%= link_to "Sign up", new_user_path %>
      </li>
    </ul>
  <% end %>
</div>