<%- user = status.user.blank? ? status.sender : status.user -%>
<div id="status_<%= status.id %>" class="status">
  <div class="info">
    <%= link_to image_tag(user.profile_image_url), user_url(user.screen_name), :class => 'profile_image' %>
    
    <p class="who_when">
      <%= link_to h(user.screen_name), user_url(user.screen_name) %><br />
      <%= pretty_datetime Time.parse(status.created_at) %>
    </p>
    
    <p class="actions">
      <span title="# of followers" class="followers_count"><%= user.followers_count %></span>
      <%= link_to image_tag('chat.gif'), status_url(:id => status.in_reply_to_status_id), :class => 'icon' unless status.in_reply_to_status_id.blank? %>
      
      <%- if status.favorited -%>
        <%= link_to image_tag('star_on.gif'), unfav_status_url(:id => status.id, :return_to => request.request_uri), :class => 'icon', :method => :post %>
      <%- else -%>
        <%= link_to image_tag('star.gif'), fav_status_url(:id => status.id, :return_to => request.request_uri), :class => 'icon', :method => :post %>
      <%- end -%>
      
      <%= link_to image_tag('mail.gif'), '#', :class => 'dm icon', :rel => h(user.screen_name), :title => "Direct Message #{h user.screen_name}" %>
      <%= link_to image_tag('comment.gif'), '#', :class => 'reply icon', :rel => h("#{user.screen_name}:#{status.id}"), :title => "Reply to #{h user.screen_name}" %>
    </p>
  </div>

  <div class="text">
    <%= linkup_mentions(auto_link(status.text)) %>
  </div>
</div>