<li>
  <%= form.label :email %>
  <%= form.text_field :email %>
</li>
<li>
  <%= form.label :password %>
  <%= form.password_field :password %>
</li>
<li>
  <%= form.label :password_confirmation, "Confirm password" %>
  <%= form.password_field :password_confirmation %>
</li>