<div class="profile">  
  <%= image_tag(@user.profile_image_url, :class => 'profile_image') %>
  
  <h2>
    <%=h @user.name %> (<%=h @user.screen_name %>)
  </h2>
  
  <p class="counts">
    <%= pluralize @user.friends_count, 'Friend', 'Friends' %> //    
    <%= pluralize @user.followers_count, 'Follower', 'Followers' %> // 
    <%= pluralize @user.statuses_count, 'Update', 'Updates' %> //
    <%= pluralize @user.favourites_count, 'Favorite', 'Favorites' %>
  </p>
  
  <p class="other">
    <%=h @user.location %>
    <%= link_to('web', @user.url) unless @user.url.blank? %>
  </p>
  
  <p class="description"><%= auto_link h(@user.description) %></p>
</div>

<div id="statuses">
  <%- for tweet in current_user.client.user_timeline(:id => params[:id]) -%>
    <%= render :partial => "statuses/status", :object => tweet %>
  <%- end -%>
</div>