<div class="profile">
  <div class="follow_form">
    <%- if @user.following -%>
      <%- form_tag friendship_url(:id => @user.screen_name), :method => :delete do -%>
        <%= submit_tag 'Stop Following', :disable_with => 'Please Wait...' %>
      <%- end -%>
    <%- else -%>
      <%- form_tag friendships_url do -%>
        <%= hidden_field_tag 'user', @user.screen_name %>
        <%= submit_tag 'Follow', :disable_with => 'Please Wait...' %>
      <%- end -%>
    <%- end -%>
  </div>
  
  <h2>
    <%=h @user.name %> (<%=h @user.screen_name %>)
  </h2>
  
  <p class="counts">
    <%= pluralize @user.friends_count, 'friend', 'friends' %> //    
    <%= pluralize @user.followers_count, 'follower', 'followers' %> // 
    <%= pluralize @user.statuses_count, 'tweet', 'tweets' %> //
    <%= pluralize @user.favourites_count, 'fav', 'favs' %>
  </p>
  
  <dl class="details">
    <%- unless @user.location.blank? -%>
      <dt>location</dt>
      <dd><%=h @user.location %></dd>
    <%- end -%>
    
    <%- unless @user.description.blank? -%>
      <dt>bio</dt>
      <dd><%= auto_link h(@user.description) %></dd>
    <%- end -%>
    
    <%- unless @user.url.blank? -%>
      <dt>url</dt>
      <dd><%= link_to @user.url, @user.url %></dd>
    <%- end -%>
    
    <dt>signup date</dt>
    <dd><%= pretty_datetime Time.parse(@user.created_at) %></dd>
  </dl>
</div>

<div id="statuses">
  <%- for tweet in current_user.client.user_timeline(:id => params[:id]) -%>
    <%= render :partial => "statuses/status", :object => tweet %>
  <%- end -%>
</div>