<h2>Change your password</h2>

<p>
  Your password has been reset. Choose a new password below.
</p>

<%= error_messages_for :user %>

<% form_for(:user,
            :url => user_password_path(@user, :token => @user.token),
            :html => { :method => :put }) do |form| %>
  <ul>
    <li>
      <%= form.label :password, "Choose password" %>
      <%= form.password_field :password %>
    </li>
    <li>
      <%= form.label :password_confirmation, "Confirm password" %>
      <%= form.password_field :password_confirmation %>
    </li>
    <li class="submit">
      <%= form.submit "Save this password", :disable_with => "Please wait..." %>
    </li>
  </ul>
<% end %>
