<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Twitter App</title>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'login' unless signed_in? %>
    
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.form.js' %>
    <%= javascript_include_tag 'application' %>
</head>
<body>
<div id="header">
  <div id="header_inner">
    <h3><%= link_to "I'd Tweet That", root_url %></h3>
    
    <%- if signed_in? -%>     
      <ul id="nav">
        <li class="<%= 'active' if request.request_uri == '/' %>">
          <%= link_to 'Home', root_url %></li>
        <li class="<%= 'active' if controller.action_name == 'mentions' %>">
          <%= link_to 'Mentions', mentions_statuses_url %></li>
        <li class="<%= 'active' if controller.controller_name == 'direct_messages' %>">
          <%= link_to "DM", direct_messages_url %></li>
        <li class="<%= 'active' if controller.action_name == 'favorites' %>">
          <%= link_to 'Favs', favorites_statuses_url %></li>
        <li>
          <%= link_to 'Logout', session_url, :method => :delete %></li>
      </ul>
    <%- end -%>
  </div>
</div>

<div id="content">
  <div id="content_inner">    
    <%= display_flash_message %>
    
    <%- if signed_in? -%>
      <div id="update">
        <%- form_tag statuses_url, :method => :post do -%>
          <%= hidden_return_to_current %>
          <%= hidden_field_tag 'in_reply_to_status_id' %>
          <span id="countdown">140</span>
          <label for="text">Drop a new tweet like it's hot!</label>
          <%= text_area_tag 'text' %>
          <%= submit_tag 'Update' %>
        <%- end -%>
      </div>
    <%- end -%>
    
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div id="footer_inner">
    <div class="column">
      <!-- <ul>
        <li><%= link_to 'Home', root_url %></li>
      </ul> -->
    </div>
  </div>
</div>
</body>
</html>