<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Twitter App</title>
    <%= stylesheet_link_tag 'common', 'login' %>
</head>
<body id="login">

<div id="header">
  <div id="header_inner">
    <h3><%= link_to "I'd Tweet That", root_url %></h3>
  </div>
</div>

<div id="content">
  <div id="content_inner">    
    <%= display_flash_message %>
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div id="footer_inner">
    <div class="column">
      <!-- <ul>
        <li><%= link_to 'Home', root_url %></li>
      </ul> -->
    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery.form.js' %>
<%= javascript_include_tag 'application' %>
</body>
</html>